.hero {
  border: 2px solid black;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(soft-dark-linen-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  box-shadow: 4px 4px 8px grey;
  margin-bottom: 5px;
}

.hero-actions {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn {
  display: inline-block;
  border: 2px solid white;
  border-radius: 18px;
  text-decoration: none;
  padding: 8px 12px;
  color: white;
  transition: transform 0.3 ease;
}

.btn:hover {
  transform: scale(1.03);
}

.primary {
  background-color: rgb(50, 50, 243);
}

.card {
  background-color: crimson;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  height: 250px;
  margin: 2px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
}

.card a {
  border: 2px solid white;
  border-radius: 18px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 100px;
}

.cards {
  display: flex;
  flex-direction: row;
}

/* == Mobile Flex == */

/* == XL Screens == */
@media (width < 1200px) {
}

/* == Lg Screens == */
@media (width < 992px) {
}

/* == Md Screens == */
@media (width < 768px) {
  .cards {
    flex-direction: column;
  }
}

/* == Sm Screens == */
@media (width < 562px) {
}
